.layout-container {
    background: rgb(43 51 69)
}

.plot-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.plot-layout-box {
    overflow-y: auto;
}

.layout {
    margin-left: auto;
    margin-right: auto;
}

.layout-header {
    text-align: center;
    padding: 20px;
}

.table-cell {
    height: 56px;
    width: 150px;
}

.card-display {
    display: block !important;
}

.card-hide {
    display: none !important
}

.services-list {
    background: #e7f0f6;
    border-radius: 20px;
    text-align: center;
    padding: 8px;
    font-size: 22px;
}